@tailwind base;
@tailwind components;
@tailwind utilities;

/* keep app defaults minimal; style via Tailwind classes */
html,
body {
  height: 100%;
}

/* Body */
body,
html,
#root {
  height: 100%;
  margin: 0;
}
